{% extends "__base__.html" %}

{% load static %}

{% block title %}Zmiana hasła{% endblock %}

{% block content %}

    <header class="header--form-page">

        {% include 'nav.html' %}

      <div class="slogan container container--90">
        <div class="slogan--item">
          <div class="profile">
            <div class="profile-title">Edytuj hasło:</div>

              <section class="login-page">

                <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                  <div class="form-group">
                    <h3>{{ field.label }}</h3>{{ field }}
                  </div>
                {% endfor %}
                  <div class="form-group form-group--buttons">
                    <a href="{% url 'profile_edit' user.id %}" class="btn btn--without-border">Zmień dane</a>
                    <button class="btn" type="submit">Zatwierdź</button>
                  </div>
                </form>

              </section>

          </div>
        </div>
      </div>

    </header>

{% endblock %}