{% extends "__base__.html" %}

{% load static %}

{% block title %}Profil{% endblock %}

{% block content %}

    <header class="header--form-page">

        {% include 'nav.html' %}

      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            <span class="uppercase">Profil użytkownika</span>
          </h1>

          <section id="steps" class="steps">

            <div class="steps--container">
              <div class="steps--item">
                <span class="icon icon--hands"></span>
                <h3>Imię</h3>
                <p>{{ user.first_name }}</p>
              </div>

              <div class="steps--item">
                <span class="icon icon--arrow"></span>
                <h3>Nazwisko</h3>
                <p>{{ user.last_name }}</p>
              </div>

              <div class="steps--item">
                <span class="icon icon--glasses"></span>
                <h3>Email</h3>
                <p>{{ user.username }}</p>
              </div>

              <div class="steps--item">
                <span class="icon icon--courier"></span>
                <h3>Data dołączenia</h3>
                <p>{{ user.date_joined|date:"d/m/Y" }}</p>
              </div>
            </div>

        </section>

          <div class="profile-title">Twoje Dary:</div>

          <div class="help--slides active">
            <ul class="help--slides-items">
              {% for donation in donations %}
              <li>
                <div class="col">
                  <div class="title">Instytucja: {{ donation.institution }}</div>
                  <div class="subtitle">Kategorie: {{ donation.categories.get }}</div>
                  <div class="subtitle">Ile worków: {{ donation.quantity }}</div>
                </div>

                <div class="col">
                  <div class="text">Kiedy zabrane: {{ donation.pick_up_date|date:"d/m/Y" }} |
                      {{ donation.pick_up_time|time:"H:i:s" }}</div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

    </header>

{% endblock %}